/* Color Scheme
#e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff
 */

/* Font-family
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Santio bold';
*/

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Tangerine';
    src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

@font-face {
    font-family: 'Santio bold';
    src: url(../fonts/SANTIO/TTF/Santio\ Bold.ttf);
}

/* ============== GLOBAL STYLES ================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p{
    font-family: 'Santio bold';
}


/* ============== HEADER STYLE ================== */



/* ============== Take Action STYLE ================== */


/* ============== Intro STYLE ================== */

/* ============== Scroll Down STYLE ================== */

.scrollText{
    color:#e7bc0e;
    font-family: 'Tangerine', cursive;
}

.arrowDown{
    transform: rotate(180deg);
}

/* ============== WORKER STYLE ================== */

/* ============== PAYMENT STYLE ================== */

/* ============== INSURANCE STYLE ================== */

/* ============== Heroes STYLE ================== */

/* ============== MAIN STYLE ================== */

/* ============== FOOTER STYLE ================== */

/* ============== Donate Button STYLE ================== */
