/* Color Scheme
#e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff / #252325
 */

/* Font-family
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Santio bold';
*/

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Tangerine-Bold';
    src: url(../fonts/Tangerine/Tangerine-Bold.ttf);
}

@font-face {
    font-family: 'Santio bold';
    src: url(../fonts/SANTIO/TTF/Santio\ Bold.ttf);
}

/* ============== GLOBAL STYLES ================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, p{
    font-family: 'Santio bold';
}

h2{
    font-size: 10rem;
}

.factSize{
    font-size: 2.6rem;
}

.imgSize {
    width: 300px;
    height: 300px;
    margin-bottom: 10vh;
}

.outstanding {
    color: #fff;
    background-color: #252325;
}

.intro, .heroes {
    font-size: 2.3rem;
    line-height: 1.5em;
    padding-bottom: 10vh;
}

.intro, .insurance,.filmlinkColor{
    color: #6bc1a3;
}

/* ============== HEADER STYLE ================== */

header{
    background-image: url(../images/cleo-topper.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #efefef;
    font-size: 6rem;
    width: 550px;
    margin-top: 20vh;
    margin-left: 5vw;
}

header section{
    margin-left: 15vw;
    padding: 25vh 0 25vh;
}

/* ============== Take Action STYLE ================== */

.action{
    padding: 10px;
    margin-right: 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.actionButton{
    color: #fff;
    font-family: 'Roboto-Bold';
    letter-spacing: 0.2em;
    text-decoration: underline #e7bc0e;
    text-underline-offset: 8px ;
}

/* ============== Intro STYLE ================== */

.intro {
    width: 50vw;
    padding-top: 30vh;
    margin-left: 15vw;
}

/* ============== Scroll Down STYLE ================== */

.scrollText{
    color:#e7bc0e;
    font-family: 'Tangerine-Bold', cursive;
    font-size: 3rem;
    margin-left: 5vw;
    padding-top: 2vh;
}

.arrowDown {
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 20px;
    font-size: 4rem;
}

/* ============== WORKER STYLE ================== */

.workers {
    color: #e7bc0e;
}

/* ============== PAYMENT STYLE ================== */

.payment {
    color: #cb91b6;
}

/* ============== INSURANCE STYLE ================== */

/* ============== Heroes STYLE ================== */

.heroes{
    color: #7eb8e1;
    width: 60vw;
    margin-left: 30vw;
}

/* ============== MAIN STYLE ================== */

.children{
    height: 100vh;
    background-color: #efefef;
    position: relative;
}

.sea{
    position: absolute;
    width: 100%;
}

.kids{
    position: absolute;
    width: 100%;
}
/* ============== FOOTER STYLE ================== */

footer{
    background-color: #000;
    color: #efefef;
    padding-top: 60vh;
    padding-left: 8vw;
}

h3{
    font-size: 5rem;
    width: 40vw;
    margin-bottom: 8vh;
}

.donateButton, .filmlinkFont{
    font-family: 'Roboto', sans-serif;
}


/* ============== Donate Button STYLE ================== */

.donateButton{
    color: #efefef;
    font-size: 1.5rem;
    padding: 20px 40px;
    border: 2px solid #efefef;
}

.donateButton:hover{
    box-shadow: 10px 4px 2px 4px #efefef;
}

/* ============== LinkTEXT STYLE ================== */

.filmlinkText{
    text-align: center;
    padding: 20px;
    margin-top: 25vh;
}

.filmlinkHover:hover{
    text-decoration: underline;
}

/* ============== MEDIA QUERIES MAX WIDTH ================== */

@media only screen and (max-width:992px) {
    .children{
        height: 75vh;
    }

    footer{
        padding-top: 20vh;
    }

    h3{
        width: 50vw;
    }

}

@media only screen and (max-width:576px){
    .children{
        height: 44vh;
    }
}