/* Color Scheme
#e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff #252325
 */

/* Font-family
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Santio bold';
*/

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Tangerine-Bold';
    src: url(../fonts/Tangerine/Tangerine-Bold.ttf);
}

@font-face {
    font-family: 'Santio bold';
    src: url(../fonts/SANTIO/TTF/Santio\ Bold.ttf);
}

/* ============== GLOBAL STYLES ================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p{
    font-family: 'Santio bold';
}

.imgSize {
    width: 350px;
    height: 350px;
}

.outstanding {
    color: #fff;
    background-color: #252325;
}

.intro, .heroes {
    font-size: 2.3rem;
    line-height: 1.5em;
}

.intro, .insurance{
    color: #6bc1a3;
}

/* ============== HEADER STYLE ================== */

header{
    background-image: url(../images/cleo-topper.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #efefef;
    font-size: 6rem;
    width: 550px;
    margin-top: 20vh;
    margin-left: 5vw;
}

/* ============== Take Action STYLE ================== */

.action{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.action img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.actionButton{
    color: #fff;
    font-family: 'Roboto-Bold';
    letter-spacing: 0.2em;
    text-decoration: underline #e7bc0e;
    text-underline-offset: 8px ;
}

/* ============== Intro STYLE ================== */

.intro {
    width: 50vw;
    padding-top: 30vh;
    margin: auto;
}

/* ============== Scroll Down STYLE ================== */

.scrollText{
    color:#e7bc0e;
    font-family: 'Tangerine-Bold', cursive;
    font-size: 3rem;
    margin-left: 5vw;
    padding-top: 2vh;
}

.arrowDown{
    transform: rotate(90deg);
}

/* ============== WORKER STYLE ================== */

/* ============== PAYMENT STYLE ================== */

/* ============== INSURANCE STYLE ================== */

/* ============== Heroes STYLE ================== */

.heroes{
    color: #7eb8e1;
}

/* ============== MAIN STYLE ================== */

/* ============== FOOTER STYLE ================== */

/* ============== Donate Button STYLE ================== */
